In [1]:
'''
TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences
'''

'\nTeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences\n'

In [2]:
'''
null hypothesis (Ho): The defective % does not vary by centre (variables are independent of each other)
alternative hypothesis (Ha): The defective % does vary by centre (variables are dependent on each other)
method used: Chi-square Contingency Independence test
'''

'\nnull hypothesis (Ho):\nalternative hypothesis (Ha):\nmethod used:\n'

In [8]:
import pandas as pd
data = pd.read_csv('C://ExcelR//Assignments//Datasets//Costomer+OrderForm.csv')
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [10]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [11]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [12]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [13]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [14]:
import numpy as np
arr = np.array([[271,267,269,280],[29,33,31,20]])

In [16]:
from scipy import stats
p_value = stats.chi2_contingency(arr)
p_value

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [17]:
p_value[1] #p_value > alpha (0.05) so we accept null hypothesis i.e. indepndence of variables

0.2771020991233135

In [ ]:
# The defective % does not vary by centre