In [1]:
'''
A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
'''

'\nA hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.\n'

In [2]:
'''
null hypothesis (Ho): The averange turn around of reports of the laboratories are all the same
alternative hypothesis(Ha): There is at least one average turn around of report of the laboratories that is  different
method used: anova ftest statistics
'''

'\nnull hypothesis (Ho):\n'

In [4]:
import pandas as pd
data = pd.read_csv('C://ExcelR//Assignments//Datasets//LabTAT.csv')
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [7]:
from scipy import stats
p_value=stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [9]:
p_value[1] #Since p_value< alpha(0.05), therefore we reject the null hypothesis.

2.1156708949992414e-57

In [ ]:
# We accept the alternative hypothesis that the average turn around of laboratories are not all same