<a href="https://colab.research.google.com/github/Himangi-77/excelR-assignments/blob/main/ASSIGNMENT15_RANDOMFOREST_COMPANYDATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Random Forest
 
Assignment


About the data: 

Let’s consider a Company dataset with around 10 variables and 400 records. 
The attributes are as follows:

 Sales -- Unit sales (in thousands) at each location

 Competitor Price -- Price charged by competitor at each location

 Income -- Community income level (in thousands of dollars)

 Advertising -- Local advertising budget for company at each location (in thousands of dollars)

 Population -- Population size in region (in thousands)

 Price -- Price company charges for car seats at each site

 Shelf Location at stores -- A factor with levels Bad, Good and Medium indicating the quality of the shelving location for the car seats at each site

 Age -- Average age of the local population

 Education -- Education level at each location

 Urban -- A factor with levels No and Yes to indicate whether the store is in an urban or rural location

 US -- A factor with levels No and Yes to indicate whether the store is in the US or not

The company dataset looks like this: 
 
Problem Statement:
A cloth manufacturing company is interested to know about the segment or attributes causes high sale. 

Approach - A Random Forest can be built with target variable Sales (we will first convert it in categorical variable) & all other variable will be independent in the analysis.

In [48]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold,cross_val_score
from sklearn.ensemble import RandomForestClassifier
import sklearn.metrics as metrics

In [2]:
df = pd.read_csv('/content/Company_Data.csv')
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [14]:
le = LabelEncoder()
df['US'] = le.fit_transform(df['US'])
df['Urban'] = le.fit_transform(df['Urban'])
df['ShelveLoc'] = le.fit_transform(df['ShelveLoc'])
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0

In [41]:
df.Sales = df.Sales.apply(lambda x: "High" if(x>=9) else "Low")
df.Sales.value_counts()

Low     286
High    114
Name: Sales, dtype: int64

In [43]:
x = df.iloc[:,1:]
y = df.iloc[:,0]

In [44]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.33)

In [46]:
kfold = KFold(n_splits=10,random_state=7,shuffle=True)
model = RandomForestClassifier(n_estimators = 100, max_features = 3)
results = cross_val_score(model,x,y,cv=kfold)
print(results.mean())

0.835

In [47]:
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

In [49]:
#Accuracy
metrics.accuracy_score(y_test,y_pred)

0.8333333333333334

In [50]:
model.feature_importances_

array([0.10343805, 0.08983606, 0.15056666, 0.09795887, 0.21795665,
       0.13634776, 0.10378438, 0.0646042 , 0.01089886, 0.0246085 ])