<a href="https://colab.research.google.com/github/Himangi-77/excelR-assignments/blob/main/ASSIGNMENT12_NAIVEBAYES_SALARYCLASSIFICATION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Prepare a classification model using Naive Bayes 
for salary data 

Data Description:

age -- age of a person

workclass	-- A work class is a grouping of work 

education	-- Education of an individuals	

maritalstatus -- Marital status of an individulas	

occupation	 -- occupation of an individuals

relationship -- 	

race --  Race of an Individual

sex --  Gender of an Individual

capitalgain --  profit received from the sale of an investment	

capitalloss	-- A decrease in the value of a capital asset

hoursperweek -- number of hours work per week	

native -- Native of an individual

Salary -- salary of an individual

In [15]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB
from sklearn.metrics import accuracy_score, confusion_matrix

In [3]:
train = pd.read_csv('/content/SalaryData_Train(1).csv')
test = pd.read_csv('/content/SalaryData_Test(1).csv')

In [4]:
train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Performing EDA

In [8]:
le = LabelEncoder()
train['native'] = le.fit_transform(train['native'])
train['sex'] = le.fit_transform(train['sex'])
train['race'] = le.fit_transform(train['race'])
train['relationship'] = le.fit_transform(train['relationship'])
train['occupation'] = le.fit_transform(train['occupation'])
train['maritalstatus'] = le.fit_transform(train['maritalstatus'])
train['education'] = le.fit_transform(train['education'])
train['workclass'] = le.fit_transform(train['workclass'])
train['Salary'] = le.fit_transform(train['Salary'])

In [9]:
test['native'] = le.fit_transform(test['native'])
test['sex'] = le.fit_transform(test['sex'])
test['race'] = le.fit_transform(test['race'])
test['relationship'] = le.fit_transform(test['relationship'])
test['occupation'] = le.fit_transform(test['occupation'])
test['maritalstatus'] = le.fit_transform(test['maritalstatus'])
test['education'] = le.fit_transform(test['education'])
test['workclass'] = le.fit_transform(test['workclass'])
test['Salary'] = le.fit_transform(test['Salary'])

In [10]:
train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,13,4,0,1,4,1,2174,0,40,37,0
1,50,4,9,13,2,3,0,4,1,0,0,13,37,0
2,38,2,11,9,0,5,1,4,1,0,0,40,37,0
3,53,2,1,7,2,5,0,2,1,0,0,40,37,0
4,28,2,9,13,2,9,5,2,0,0,0,40,4,0

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  int64
 2   education      30161 non-null  int64
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  int64
 5   occupation     30161 non-null  int64
 6   relationship   30161 non-null  int64
 7   race           30161 non-null  int64
 8   sex            30161 non-null  int64
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  int64
 13  Salary         30161 non-null  int64
dtypes: int64(14)
memory usage: 3.2 MB

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  int64
 2   education      15060 non-null  int64
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  int64
 5   occupation     15060 non-null  int64
 6   relationship   15060 non-null  int64
 7   race           15060 non-null  int64
 8   sex            15060 non-null  int64
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  int64
 13  Salary         15060 non-null  int64
dtypes: int64(14)
memory usage: 1.6 MB

In [14]:
x_train = train.iloc[:,0:13]
y_train = train.iloc[:,13]
x_test = test.iloc[:,0:13]
y_test = test.iloc[:,13]

Multinomial Naive Bayes

In [16]:
mb_classifier = MB()
mb_classifier.fit(x_train, y_train)

MultinomialNB()

In [24]:
y_pred=mb_classifier.predict(x_test)
y_pred

array([0, 0, 0, ..., 0, 1, 0])

In [20]:
accuracy_score(y_test,y_pred)

0.7749667994687915

Gaussian Naive Bayes

In [21]:
gb_classifier = GB()
gb_classifier.fit(x_train,y_train)

GaussianNB()

In [23]:
y_pred_1 = gb_classifier.predict(x_test)
y_pred_1

array([0, 0, 0, ..., 0, 1, 0])

In [25]:
accuracy_score(y_test,y_pred_1)

0.7946879150066402

Based on the above accuracy scores we stick with the Gaussian Naive Bayes algorithm

In [27]:
pd.DataFrame({'Actual': y_test, 'Predicted': y_pred_1})

       Actual  Predicted
0           0          0
1           0          0
2           1          0
3           1          1
4           0          0
...       ...        ...
15055       0          0
15056       0          0
15057       0          0
15058       0          1
15059       1          0

[15060 rows x 2 columns]